.bg-img{
    background-color: black;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-mid-autumn-festival-rabbit-moon-image_784761.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.landing{
    background-color: black;
    background-image: url('https://www.thaihealth.or.th/data/content/2018/06/42822/cms/newscms_thaihealth_c_belqrstuvxy7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
}
.title{
    color: rgb(54, 51, 51);
    text-align: center;
    font-size: 100px;
}